.banner {
	background: $black;
	min-height: 100vh;
	position: relative;	
	padding: 445px 0 75px;
	.subtitle {
		font-size: 21px;
		font-family: $georgia-bold;
		display: block;
		margin-bottom: 40px;
	}
	.uk-slidenav {
        background: $black;
        border-radius: 50%;
        height: 58px;
		width: 58px;
		transform: translateX(50%);
		transition: $nbSec ease-in-out;
		&:first-of-type {
			margin-bottom: 7px;
		}
        svg {
			color: $white;
			fill: $white;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
        @include hover {
            background: $grey-nav;
        }
	}
	.uk-slider-nav {
		margin-top: 30px;
		li {
			padding-left: 15px;
		}
		a {
			border-color: $orange;
			height: 15px;
			width: 15px;
			@include hover {
				background: $orange;    
			}
		}
		.uk-active a {
			background: $orange;
		}
	}
	@media (max-width: $breakpointLarge) {
		padding: 340px 0 65px;
		.subtitle {
			font-size: 18px;
		}
	}
	@media (max-width: $breakpointSmall) {
		padding: 250px 0 65px;
		.subtitle {
			font-size: 16px;
		}
	}
}

.banner-inner {
	position: absolute;
	bottom: 70px;
	left: 30px;
	padding: 0;
	width: calc(100% - 60px);
	@media (max-width: $breakpointLarge) {
		position: relative;
		padding: 0 40px;
		width: auto;
		left: auto;
	}
	@media (max-width: $breakpointSmall) {
		padding: 0 15px;
	}
}