.uk-card-video {
	overflow: hidden;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	h2 {
		font-size: 20px;
	}

	a, button {
		&:focus {
			outline: -webkit-focus-ring-color auto 1px; //sass-lint:disable-line no-vendor-prefixes
		}
	}

	.uk-card-media {
		background-color: $black;
		height: 0;
		padding-bottom: 70%;
		position: relative;
		overflow: hidden;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		z-index: 0;

		&::before {
			content: font-char($play);
			position: absolute;
			color: $white;
			font-family: 'svgicons';
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			font-size: 68px;
			opacity: .3;
			transition: $nbSec ease-in-out;
			z-index: 1;
		}

		img {
			transition: $nbSec ease-in-out;
		}
	}

	.uk-label {
		background: $orange-lit;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		margin-left: 20px;
		min-height: 35px;
		font-size: 17px;
		font-family: $font-bold;
		display: inline-flex;
		align-items: center;
		text-transform: none;
		padding: 0 19px;
		position: relative;
		z-index: 1;
	}

	.uk-card-body {
		background-color: $beige;
		padding: 37px 35px 20px;
		position: relative;
	}

	.uk-card-title {
		font-family: $font-bold;
		line-height: 1.4;
		max-width: 285px;
		margin-bottom: 10px;
		color: $grey-darker;
		font-size: 20px;
	}

	.font-time {
		position: relative;
		color: $grey-darker;
		font-family: $font-bold;
		font-size: 13px;
		padding-left: 17px;

		&::before {
			position: absolute;
			left: 0;
			width: 12px;
			color: $grey-darker;
			top: 1px;
		}
	}

	.play-embelish {
		display: inline-block;
		position: absolute;
		top: -32px;
		left: 10px;
		text-align: center;
		padding: 5px 25px;
		background: url('../img/play-btn-wrapper.svg') no-repeat;
		background-size: contain;
		background-position: center;

		span {
			font-size: 25px;
			color: $white;
			line-height: 54px;
			background-color: $orange;
			border-radius: 100%;
			width: 54px;
			height: 54px;
			display: block;
			transition: $nbSec ease-in-out;
			position: relative;

			&::before {
				color: $white;
				content: font-char($play);
				position: absolute;
				font-family: 'svgicons';
				left: 55%;
				top: 50%;
				transform: translate(-50%, -50%);
				font-size: 22px;
				transition: $nbSec ease-in-out;
			}
		}
	}

	.read-more {
		.icon-play-button {
			color: $white;
			font-size: 74px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;
			transition: opacity 0.3s;
		}
	}

	@include hover {
		.uk-card-media {
			&::before {
				opacity: 1;
			}

			img {
				transform: scale(1.1) translate(-50%, -50%);
			}
		}
	}

	@media (max-width: $breakpointLarge) {
		.uk-card-body {
			padding: 37px 20px 20px 35px;
		}

		.uk-card-title {
			max-width: 285px;
		}
	}

	@media (max-width: $breakpointSmall) {
		.uk-card-body {
			padding: 45px 15px 25px 30px;
		}

		.uk-card-video .uk-card-title {
			font-size: 18px;
		}
	}
}
