.highlights-section {
    background: $grey-nav;
    padding-top: 70px;

    h2 {
        margin-bottom: 30px;
    }

    .uk-slider-nav {
        margin-top: 55px;

        li {
            padding-left: 17px;
        }

        a {
            border-color: $orange;
            height: 15px;
            width: 15px;

            @include hover {
                background: $orange;
            }
        }

        .uk-active a {
            background: $orange;
        }
    }

    @media (max-width: $breakpointLarge) {
        padding: 75px 0 0;

        .uk-slider-nav {
            margin-top: 40px;
        }

        .uk-container {
            position: relative;
            padding-bottom: 40px;

            &::after {
                background: $grey-coal;
                position: absolute;
                left: -25px;
                width: calc(100% + 50px);
                content: '';
                top: 60px;
                bottom: 0;
                z-index: 0;
            }
        }
    }

    @media (max-width: $breakpointLarge) {
        h2 {
            margin-bottom: 25px;
        }
    }
}

.highlights-inner {
    position: relative;
    padding-bottom: 30px;

    &::before,
    &::after {
        position: absolute;
        left: -50px;
        width: calc(100% + 100px);
        content: '';
        top: 60px;
        z-index: 0;
    }

    &::after {
        background: $grey-coal;
        height: 349px;
    }

    &::before {
        background: $white;
        bottom: 0;
    }

    .uk-switcher {
        position: relative;
        margin-top: 55px;
        z-index: 1;
    }

    @media (max-width: $breakpointLarge) {
        padding-bottom: 0;

        &::after,
        &::before {
            display: none;
        }

        .uk-switcher {
            margin-top: 50px;
        }
    }

    @media (max-width: $breakpointSmall) {
        &::after {
            display: block;
        }
        .uk-switcher {
            margin-top: 35px;
        }
    }
}

.highlights-slider {
    &:focus {
        outline: 0;
    }

    .uk-slidenav {
        background: $black;
        border-radius: 50%;
        height: 58px;
        width: 58px;
        transition: $nbSec ease-in-out;
        margin: 0;
        z-index: 3;

        &:first-of-type {
            transform: scale(0) translate(-50%, -50%);

            @include hover {
                transform: scale(1) translate(-50%, -50%);
            }
        }

        &:last-of-type {
            transform: scale(0) translate(50%, -50%);

            @include hover {
                transform: scale(1) translate(50%, -50%);
            }
        }

        svg {
            fill: $white;
            color: $white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }

        @include hover {
            background: $grey-nav;
        }
    }

    .uk-slider-container {
        @include hover {
            ~.uk-slidenav {
                &:first-of-type {
                    transform: scale(1) translate(-50%, -50%);
                }

                &:last-of-type {
                    transform: scale(1) translate(50%, -50%);
                }
            }
        }
    }
}

.highlights-nav {
    button {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border: 2px solid $grey-coal-mid;
        border-bottom: 0;
        font-family: $font-bold;
        position: relative;
        min-height: 60px;
        padding: 0 30px;
        font-size: 15px;
        z-index: 1;
        transition: $nbSec ease-in-out;

        &::before,
        &::after {
            position: absolute;
            bottom: 0;
            display: block;
            content: '';
            font-size: 20px;
        }

        span {
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            bottom: 0;

            &::before,
            &::after {
                position: absolute;
                bottom: 0;
                display: block;
                content: '';
                font-size: 20px;
            }
        }
    }

    li {
        position: relative;

        &:nth-of-type(2) {
            left: -1px;
        }

        &:last-of-type {
            left: -2px;
        }

        &:not(.uk-active) {

            &:first-of-type {
                z-index: 7;
            }

            &:nth-of-type(2) {
                z-index: 3;
            }

            &:last-of-type {
                z-index: 2;
            }

            button {
                background: $grey-nav;

                span::before,
                span::after,
                &::before,
                &::after {
                    border-style: solid;
                    width: 0;
                }

                span::before,
                &::before {
                    border-width: 8px 0 0 8px;
                }

                span::after,
                &::after {
                    border-width: 0 0 8px 8px;
                }

                &::before,
                &::after {
                    bottom: 0;
                    z-index: 1;
                }

                span::before,
                span::after {
                    bottom: -2px;
                    z-index: 0;
                }

                &::before {
                    left: 98%;
                    border-color: transparent transparent transparent $grey-nav;
                }

                &::after {
                    right: 98%;
                    border-color: transparent transparent $grey-nav;
                }

                span::before {
                    left: 102%;
                    border-color: transparent transparent transparent $grey-coal-mid;
                }

                span::after {
                    right: 102%;
                    border-color: transparent transparent $grey-coal-mid;
                }

                @include hover {
                    background: $grey-coal-mid;

                    &::before {
                        border-color: transparent transparent transparent rgba($grey-coal-mid, .7);
                    }

                    &::after {
                        border-color: transparent transparent rgba($grey-coal-mid, .7);
                    }
                }
            }
        }
    }

    .uk-active {
        z-index: 7;

        button {
            background: $grey-coal;

            &::before,
            &::after {
                font-family: 'svgicons';
                color: $grey-coal;
            }

            &::before {
                content: font-char($corner);
                left: 98%;
                bottom: -4%;
            }

            &::after {
                content: font-char($corner-1);
                right: 98%;
                bottom: -4%;
            }
        }
    }

    @media (max-width: $breakpointSmall) {
        button {
            font-size: 14px;
            padding: 0 15px;
        }
    }
}
