.links-section {
    background: $grey-about;
    position: relative;
    padding: 65px 0 100px;

    h2 {
        margin-bottom: 35px;
    }

    .scroll-btn-wrap {
        &::before {
            transform: rotate(-90deg) translate(120%, 0%);
        }
        &::after {
            transform: rotate(0deg) translate(0%, -85%);
        }

        .uk-button {
            border: 2px solid $black;

            svg {
                color: $black;
            }
        }
    }
    @media (max-width: $breakpointLarge) {
        padding-bottom: 90px;
        h2 {
            margin-bottom: 25px;
        }
    }
}

.links-box {
    min-height: 385px;
}