.links-section {
    background: $grey-about;
    position: relative;
    padding: 65px 0 100px;

    h2 {
        margin-bottom: 35px;
    }

    .scroll-btn-wrap {
        &::before {
            transform: rotate(-90deg) translate(120%, 0%);
        }
        &::after {
            transform: rotate(0deg) translate(0%, -84%);
        }

        .uk-button {
            border: 2px solid $black;

            svg, svg > * {
                fill: $black;
                color: $black;
            }
        }
    }
    span {
        z-index: 1;
    }
    .instagram-grid a::before {
        background: linear-gradient(to top, $black 0%, transparent 100%);
        bottom: 0;
        left: 0;
        width: 100%;
        position: absolute;
        content: '';
        height: 100px;
        z-index: 1;
    }
    @media (max-width: $breakpointLarge) {
        padding-bottom: 90px;
        h2 {
            margin-bottom: 25px;
        }
    }
}