.subscribe-section {
	padding: 30px 0 80px;

	h2 {
		color: $grey-about;
		margin-bottom: 5px;
	}

	p {
		color: $grey-low;
		font-size: 17px;
		max-width: 550px;
		margin: 0 auto;
		line-height: 1.8;
		margin-bottom: 20px;
	}

	span {
		display: block;
		color: $grey-shade;
		font-size: 14px;

		.uk-button {
			font-family: $font-bold;
			color: $blue-dark;
			text-transform: none;
			font-size: inherit;
			width: auto;
			height: auto;
			line-height: 1.5;
			text-decoration: underline;

			&::before {
				border-color: $blue-dark;
			}

			@include hover {
				color: $orange;
			}
		}
	}

	@media (max-width: $breakpointLarge) {
		padding: 60px 0;
	}

	@media (max-width: $breakpointSmall) {
		padding: 50px 0 40px;

		p {
			font-size: 15px;
			line-height: 1.5;
		}

		h2 {
			line-height: 1.2;
			margin-bottom: 10px;
		}
	}
}

.subscribe-wrap {
	box-shadow: 0 2px 20px -2px rgba($black, .4);
	border: 2px solid $orange;
	border-radius: 10px;
	max-width: 895px;
	padding: 60px 70px 65px 75px;
	margin-bottom: 20px;

	@media (max-width: $breakpointLarge) {
		width: 100%;
		max-width: 100%;
		padding: 58px 45px 68px 47px;
	}

	@media (max-width: $breakpointSmall) {
		padding: 40px 30px 30px 15px;
	}
}

.subscribe-box {
	border-radius: 50px;
	position: relative;
	min-height: 63px;

	input {
		padding: 5px 200px 5px 25px;
		border-radius: 50px;
		min-height: 63px;
		font-size: 18px;
		border: 2px solid $grey;
		width: 100%;

		&:focus {
			outline-width: 0;
		}
	}

	button {
		background: $orange-lit;
		position: absolute;
		right: 8px;
		top: 50%;
		border-radius: 25px;
		transform: translateY(-50%);
		z-index: 1;
		border: 0;
		min-height: 50px;
		min-width: 188px;
		font-size: 18px;
		font-family: $font-bold;
		text-transform: none;
		transition: $nbSec ease-in-out;

		svg {
			background: $white;
			border-radius: 50%;
			margin-left: 15px;
			width: 20px;
			height: 20px;
			position: relative;
			top: auto;
			left: auto;
			transform: none;
			color: $orange;
		}

		@include hover {
			background: $orange-shade;

			svg {
				color: $orange-shade;
			}
		}
	}

	@media (max-width: $breakpointSmall) {
		input {
			margin-bottom: 15px;
			min-height: 54px;
			padding: 5px 15px;
		}

		button {
			position: relative;
			right: auto;
			top: auto;
			transform: none;
			width: 100%;

			svg {
				position: absolute;
				right: 15px;
				top: 50%;
				transform: translateY(-50%);
				margin-left: 0;
			}
		}
	}
}
