.header {
	nav {
		padding-top: 20px;
		width: 100%;

		>a:first-of-type,
		>a:last-of-type {
			font-size: 25px;
			font-family: $font-ultra;
		}
	}

	ul {
		margin: 0;

		li {
			a {
				font-size: 15px;
				font-family: $font-bold;

				&::before {
					content: font-char($chevron-down);
					font-family: 'svgicons';
					position: absolute;
					bottom: -3px;
					left: 50%;
					transform: translateX(-50%);
					font-size: 11px;
				}

				@include hover {
					color: $orange;
				}
			}
		}
	}

	.social {
		a {
			border: 2px solid $white;
			border-radius: 50%;
			height: 42px;
			display: inline-block;
			width: 42px;
			&:not(:first-of-type){
				margin-left: 12px;
			}

			&::before,
			svg {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}

			@include hover {
				border-color: $orange;
				background: $orange;
			}
		}
	}

	@media (max-width: $breakpointLarge) {
		nav {
			padding-right: 110px;
			position: relative;

			>button {
				font-family: $font-bold;
				font-size: 15px;
				color: $white;
				position: absolute;
				padding: 0;
				right: 0;

				span {
					background: $white;
					display: inline-block;
					border-radius: 50%;
					margin-left: 10px;
					height: 42px;
					position: relative;
					width: 42px;

					svg {
						fill: $black;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						position: absolute;
					}
				}
			}
		}
	}

	@media (max-width: $breakpointSmall) {
		nav {
			padding-right: 47px;

			>a {
				&:last-of-type {
					font-family: $font-ultra;
					font-size: 18px;
				}
			}
			>button {
				font-size: 0;

				span {
					height: 38px;
					width: 38px;
				}
			}
		}

		.social a {
			width: 38px;
			height: 38px;
		}
	}
}
