@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
    .nb-container, .cruise-section .nb-container {
        margin-left: 320px;
    }
    .banner .uk-slider-nav li .uk-button {
        display: block;
        text-align: left;
        width: 60%;
    }
    .dashboard-content .uk-flex-column {
        width: 100%;
    }
    .nav-text {

        &::before {
            background-size: 250px 70px;
        }
    }
    .footer__label span {
        height: 70px;
        background-size: 250px 70px;
    }

    .header .uk-navbar-dropdown-nav > li .uk-background-cover img {
        display: block;
        margin-bottom: -20px;
    }

    .wave-box .uk-card-body::after {
        background-size: 250px 70px;
    }

    .nb-facts .nb-facts-body::after {
        background-size: 250px 70px;
    }

    .nb-link-contact {
        color: transparent !important;
    }

    .uk-button--underline .font-gross::before {
        right: -3px;
    }

    .dashboard-bottom {
        .uk-button--underline .font-gross::before {
            top: 2px;
        }
    }

    .dashboard-date {
        padding-top: 7px;
    }

    .zig-zag__inner .zig-zag__text .zig-zag-bottom {
        bottom: calc(100% - 1px);
    }

    .zig-zag-bottom {
        bottom: -1px;
    }

    .nb-container {
        >.uk-container {
            margin-right: 170px;
        }
    }
    .sectors-half .zig-zag-top {
        top: -1px;
    }
}

@supports (-ms-ime-align:auto) {
    .zig-zag-waves {
        top: -1px;
        height: calc(100% + 1px);
    }

    .zig-zag-top {
        left: -1px;
        top: -1px;
    }

    .zig-zag__inner .zig-zag__text .zig-zag-bottom {
        bottom: calc(100% - 1px);
    }

    .zig-zag-bottom {
        bottom: -1px;
    }

    .dashboard-box .zig-zag-top {
        left: 0;
    }
}
