@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
    .uk-card-video .uk-label {
        line-height: 35px;
    }

    .highlights-nav button {

        &::before,
        &::after,
        span {
            display: none;
        }
    }

    .links-section .scroll-btn-wrap::after {
        transform: rotate(0deg) translate(0%, -83%);
    }

    .scroll-btn-wrap {
        &::after {
            left: 99%;
        }

        &::before {
            right: 99%;
        }

        .uk-button {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        @include hover {
            .uk-button {
                transform: translate(-50%, -35%);
            }
        }
    }
}
