@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
    .scroll-btn-wrap {
        &::after {
            left: 99%;
        }

        &::before {
            right: 99%;
        }

        .uk-button {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        @include hover {
            .uk-button {
                transform: translate(-50%, -35%);
            }
        }
    }
}
