@import 'config/variables.scss';

@import 'base/breakpoints.scss';
@import 'base/fonts.scss';
@import 'base/layout.scss';
@import 'base/typography.scss';

@import 'helpers/mixins.scss';

@import 'layout/icon-font.scss';
@import 'helpers/helpers.scss';
@import 'layout/buttons.scss';
@import 'layout/forms.scss';

@import 'modules/cards.scss';
@import 'modules/banner.scss';
@import 'modules/schedule-section.scss';
@import 'modules/instagram-section.scss';
@import 'modules/links-section.scss';
@import 'modules/highlights-section.scss';
@import 'modules/subscribe-section.scss';
@import 'modules/about-section.scss';
@import 'modules/media-section.scss';

// NB
@import 'nb/block.scss';
@import 'nb/file-icon.scss';

// Theme
@import 'theme/base.scss';
@import 'theme/header.scss';
@import 'theme/footer.scss';
@import 'theme/firefox.scss';
@import 'theme/ie11.scss';
@import 'theme/print.scss';


.uk-link-toggle:focus .uk-link,
.uk-link-toggle:hover .uk-link,
.uk-link:hover,
a:hover {
	text-decoration: none;
	color: $white;
}

// uikit/form
.uk-input:not(.uk-form-danger),
.uk-select:not(.uk-form-danger),
.uk-textarea:not(.uk-form-danger),
.uk-checkbox:not(.uk-form-danger),
.uk-radio:not(.uk-form-danger),
.uk-checkbox:checked:not(.uk-form-danger),
.uk-radio:checked:not(.uk-form-danger) {
	// border-color: $ocean-blue;
	font-size: 16px;

	// &:focus {
	// 	border-color: $night-blue;
	// }
}
